{% extends 'base.html' %}

{% block montitre %}
debut de mes mots: bienvenue dans ma partition
{% endblock %}
{% block content %}
<h1># fantastic-harmonic-logic</h1>
{% for x in users | reverse %}
 <li>{{ x["first_name"]  }}</li>

{% endfor %} 
fin de mes mots : écris les émotions dune partition , poste à chaque moment ton emotion, ton jugement ou rythme spécial dune partition, 
poste une image ou limage dune partition en photo.
{% endblock %}
{% block liens %}
<a href="/">welcome</a>
{% endblock %}
<a href="/add_one_musicalinstrument"> add one musicalinstrument</a><a href="/add_one_country"> add one country</a><a href="/add_one_user"> add one user</a><a href="/add_one_score"> add one score</a><a href="/add_one_scorehaslogic_post"> add one scorehaslogic_post</a>